.g-workDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    font-weight: 700;
    font-size: 15px;
    color: #424a5e;
    line-height: 50px;
    padding: 0 0 10px 0;
    margin-bottom: 0;
    position: relative;
    em {
      position: absolute;
      bottom: 20%;
      left: 0;
      width: 20px;
      height: 2px;
      background-color: #0066ff;
    }
  }
  .m-workDetail {
    display: flex;
    width: 1150px;
    max-width: 1150px;
    padding: 20px 0 20px 25px;
    .m-left {
      width: 75%;
      padding-right: 20px;
      border-right: 1px #f5f7f9 solid;
      overflow: auto;
      .m-hrDetail {
        margin-bottom: 10px;
        display: flex;
        .m-hrInfo {
          margin-left: 20px;
          & > div {
            height: 50%;
          }
          .u-name {
            font-size: 20px;
            margin: 5px 0 1px 0;
          }
          .u-info {
            font-size: 14px;
            color: #9fa3af;
          }
        }
        .u-btn {
          align-self: center;
          margin-left: auto;
        }
      }
    }
    .m-right {
        width: 25%;
      padding: 20px 0 0 30px;
      .m-title {
        line-height: 25px;
        padding-bottom: 5px;
        margin-bottom: 20px;
        font-size: 15px;
        font-weight: 500;
        color: #414a60;
        border-bottom: 1px #f5f5f5 solid;
      }
      .m-name {
        display: flex;
        align-items: center;
        .u-name {
          font-size: 14px;
          margin-left: 10px;
          color: #414a60;
        }
      }
      .u-info {
        margin: 40px 0 0 0;
      }
      .m-workInfo{
        font-size: 14px;
        margin-bottom: 40px;
        &>div{
            margin: 3px 0;
        }
        .u-work{
            font-size: 20px;
            color: #1890ff;
        }
        .u-salary{
            color: #fa6a43;
            font-size: 16px;
        }
        .u-time,.u-education{
            &>span{
                margin-right: 10px;
            }
            &>span:last-child{
                margin-right: 0px;
            }
        }
      }
    }
  }
}
