.g-usercenter{
    height: 100%;
    display: flex;
    padding: 60px 0px 0px 120px;
    .m-main{
        padding: 10px;
        width: 100%;
        // background-color: aquamarine;
        display: flex;
        .m-left{
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
        }
        .m-right{
            margin-left: 80px;
            // padding-top: 40px;
            .m-item{
                font-size: 18px;
                width: 350px;
                word-break: break-word;
                .u-label{
                    width: 100px;
                    display: inline-block;
                }
                .u-company{
                    margin-bottom: 10px;
                    padding-bottom: 5px;
                    border-bottom: 3px solid #ddd;
                }
            }
        }
    }
}
