.layout {
  .header {
    display: flex;
    justify-content: space-between;
    background: #25292e;
    color: #fff;
    align-items: center;
    padding-left: 20px;
    .logo {
      height: 50px;
      width: 200px;
      background-image: url('https://www.hznu.edu.cn/template/images/logo_03.png');
      background-size: 100% 100%;
      position: relative;
      &::after {
        content: '社区常住人员管理系统';
        font-size: 20px;
        position: absolute;
        right: -110%;
        top: -12%;
      }
    }
  }
  .content {
    padding: 24px 36px;
    margin: 0;
    height: calc(100vh - 64px);
    min-height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
    overflow: auto;
  }
}
