.g-workComponent{
    height: 130px;
    width: calc(50% - 10px);
    padding: 20px 20px 0 30px;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    margin-right: 10px;
    margin-bottom: 15px;
    &:hover{
        // background: linear-gradient(white,lightblue);
        box-shadow: 5px 5px 5px #ddd;
        transition: box-shadow .4s;
    }
    .m-workInfo{
        width: 50%;
        // background-color: antiquewhite;
        .m-title{
            font-size: 17px;
            color: #0066ff;
            // color: #1890ff;
        }
        .m-salary{
            font-size: 17px;
            color: #fc703e;
        }
        .m-workTime{
            padding: 2px 0;
            font-size: 13px;
            &>span{
                margin-right: 15px;
            }
        }
        .m-workRequest{
            padding: 2px 0;
            font-size: 13px;
            &>span{
                margin-right: 15px;
            }
        }
    }
    .m-companyInfo{
        width: 50%;
        .m-logo{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            .u-logo{
                width: 54px;
                height: 54px;
                border: 1px solid #f3f5fb;
                border-radius: 9px;
            }
        }
        .m-companyName{
            font-size: 16px;
            // color: #0066ff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .m-companyAddress{
            font-size: 14px;
            margin: 3px 0;
        }
        .m-peopleName{
            font-size: 14px;
            margin: 3px 0;
        }
    }
}
