.g-nav{
    height: 100%;
    display: flex;
    flex-flow: column;
    .g-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row nowrap;
        padding-left: 10px;
        &>div{
            height: 56px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        img{
            width: 56px;
            height: 56px;
        }
        .u-menu{
            vertical-align: top;
            font-size: 20px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            svg{
                position: relative;
                margin: 0 1px;
                width: 20px;
                height: 20px;
                top: 2px;
                color: #0066ff;
            }
        }
        .m-logo{
            .u-logo {
                margin-right: 21px;
                vertical-align: top;
              }
              .u-title{
                  font-size: 22px;
                  font-weight: 600;
              }
        }
        .m-menu{
            font-size: 16px;
            img{
                width: 35px;
                height: 35px;
            }
            .u-menu{
                padding: 0 15px;
                img{
                   padding: 0 5px; 
                }
                &:hover{
                    color: #0066ff;
                    transition: color .2s ease-in
                }
            }
        }
        .m-user{
            .u-avatar{
                padding: 0px 30px 0px 10px;
                img{
                    width: 35px;
                    height: 35px;
                }
            }
            .u-name{
                width: 70px;
                &:hover{
                    color: #0066ff;
                    transition: color .2s ease-in
                }
            }
        }
    }
    .m-usermenu {
        :global(.anticon) {
          margin-right: 8px;
        }
        :global(.ant-dropdown-menu-item) {
          min-width: 200px;
        }
      }
      .g-main {
        height: calc(100vh - 56px);
      }
      .ant-menu-title-content{
          font-size: 16px !important;
      }
      .ant-menu-item-icon{
          font-size: 16px !important;
      }
}
