.tablehead {
  .table_container {
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 24px;
  }
  .title {
    font-size: 20px;
  }
  .toolbar {
    margin-bottom: 24px;
    display: flex;
    justify-content: end;
    button {
      margin-left: 24px;
    }
  }
}
