@import '~antd/dist/antd.css';

body {
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  font-family: Georgia, Microsoft Yahei;
  color: #666;
  font-size: 12px;
}

#root {
  width: 100%;
  min-height: 100%;
  background: #f4f4f4;
}

a {
  color: #0066ff;
}

.app-root {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
  background: #fff;
  min-height: 100vh;
}

menu {
  color: #0066ff;
}

.vdot {
  display: inline-block;
  padding: 0 10px 0 7px;
}

.textContent {
  white-space: pre-wrap;
  font-size: 14px;
}

.BMap_cpyCtrl {
  display: none;
}

.anchorBL {
  display: none;
}
