body, #root {
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
}

.ant-picker {
  width: 100%;
}

.flex-row-end {
  display: flex;
  justify-content: end;
  align-items: center;
}

.ant-layout-sider-trigger {
  color: #333 !important;
  background-color: #ddd !important;
}